.releases {
  max-width: var(--screen-max);
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}
@media (min-width: 450px) {
  .releases {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .releases {
    grid-template-columns: repeat(3, 1fr);
  }
}
.release {
}
