.pagination {
  max-width: var(--nav-bar-max-width);
  min-width: var(--screen-min);
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.button {
  font-weight: 800;
  width: var(--button-next-width);
  height: var(--button-next-height);
  border-radius: var(--border-round);
  cursor: pointer;
  border: none;
  background: var(--interface-background-color);
  color: white;
  margin: var(--margin-sm);
}
.button:hover {
  background: var(--interface-background-color-hover);
  color: var(--interface-text-color-hover);
  transition: 0.2s ease-in-out;
  width: calc(var(--button-next-width) - 3px);
  height: calc(var(--button-next-height) - 3px);
}
