.pagination {
  max-width: var(--screen-max);
  display: flex;
  justify-content: space-around;
}
.pagination button {
  font-weight: 800;
  width: var(--button-next-width);
  height: var(--button-next-height);
  border-radius: var(--border-round);
  cursor: pointer;
  border: none;
  background: var(--interface-background-color);
  color: white;
}
.pagination button:hover {
  background: var(--interface-background-color-hover);
  color: var(--interface-text-color-hover);
  transition: 0.2s ease-in-out;
}
