.album {
  position: relative;
}
.image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
}
.thumb {
  width: var(--thumb-max-sm);
  height: var(--thumb-max-sm);
  border-radius: var(--border-radius);
  box-shadow: 0 0 0.09rem rgba(255, 255, 255, 0.6);
  filter: blur(0.2rem);
}

.overlay {
  /* height: auto; */
}
.title {
  font-size: 1rem;
  text-overflow: ellipsis;
  line-height: 1rem;
  margin: 0;
}
.title,
.year,
.catno,
.link,
.artist {
  padding-left: 0.5rem;
  line-height: 0.25rem;
}
.link {
  font-weight: bold;
  color: var(--interface-text-color);
}

.image:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
  color: white;
}
.image:hover .thumb {
  filter: blur(0);
}
.image:hover .link {
  color: white;
}

.album__info p,
.album a {
  font-size: 1rem;
}

@media (min-width: 730px) {
  .image {
    display: block;
    padding: 0.5rem;
    margin: auto;
    border-radius: var(--border-radius);
  }
  .thumb {
    width: calc(var(--thumb-max-sm) * 2);
    height: calc(var(--thumb-max-sm) * 2);
    border-radius: var(--border-radius);
    box-shadow: 0 0 0.09rem rgba(255, 255, 255, 0.6);
  }

  .overlay {
    /* height: auto; */
    margin-top: 1rem;
  }
  .image:hover {
    background-color: inherit;
    transition: none;
    color: var(--interface-text-color);
  }
  .image:hover .thumb {
    filter: blur(0);
    /* width: calc(var(--thumb-max-sm) * 1.9); */
    /* height: calc(var(--thumb-max-sm) * 1.9); */
  }
  .image:hover .link {
    color: var(--interface-text-color);
  }
}
/* @media (min-width: 450px) {
  .image-thumb {
    width: var(--thumb-max-md);
    height: var(--thumb-max-md);
  }
} */
