* {
  box-sizing: border-box;
  /* padding: 0; */
  /* margin: 0; */
}
article {
  /* position: relative; */
  /* height: 100vh; */
}
section {
  /* position: relative; */
  /* border: 2px solid black; */
  /* padding: 0.75rem; */
}
.album {
  position: relative;
}
.image {
  /* border: 2px solid red; */
  /* margin: 0.25rem; */
  /* max-width: var(--thumb-max-sm); */
  height: auto;
  border-radius: var(--border-radius);
}
img {
  width: var(--thumb-max-sm);
  height: var(--thumb-max-sm);
  border-radius: var(--border-radius);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.2s ease-in-out;
  background-color: rgb(0, 0, 0);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  color: white;
}
.image:hover .overlay {
  opacity: 0.8;
}

.album__info p,
.album a {
  font-size: 1rem;
}

@media (min-width: 450px) {
  img {
    width: var(--thumb-max-md);
    height: var(--thumb-max-md);
    /* border-radius: var(--border-radius); */
  }
}
@media (min-width: 900px) {
  .releases {
    grid-template-columns: repeat(3, 1fr);
  }
}
