.album {
  position: relative;
}
.image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  /* border: 2px solid black; */
  /* width: 100vw; */
}
.thumb {
  width: var(--thumb-max-sm);
  height: var(--thumb-max-sm);
  border-radius: var(--border-radius);
}

.overlay {
  height: auto;
}
.title {
  font-size: 1rem;
  text-overflow: ellipsis;
  line-height: 1rem;
  margin: 0;
}
.title,
.year,
.catno,
.artist {
  padding-left: 0.5rem;
  line-height: 0.25rem;
}

.image:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
  color: white;
}

.album__info p,
.album a {
  font-size: 1rem;
}

@media (min-width: 450px) {
  .image-thumb {
    width: var(--thumb-max-md);
    height: var(--thumb-max-md);
  }
}
